{% extends 'cpanel/index.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}
    Achivements
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Achievements" "achievements_home" %}
{% endblock %}

{% block sectioncontent %}

{% block tabcontent %}
<div class="col-md-9">
<table class="table table-bordered table-hover">
    <tr>
        <th width="10%">Image</th>
        <th width="20%">Identifier</th>
        <th width="15%">Title</th>
        <th>Description</th>
        <th width="10%">Active</th>
    </tr>
    {% for a in achievements %}
        <tr>
            <td width="10%"><img src="{{ a.path }}" alt="{{ a.title }}" title="{{ a.title}}" height="24" width="24"/></td>
            <td width="20%">{{ a.name }}</td>
            <td width="15%">{{ a.title }}</td>
            <td>{{ a.description }}</td>
            <td width="10%">
                {% if a.active %}
                    <a class="btn btn-success btn-xs" href="{% url achievement_switch_active a.id %}">{% trans 'Yes' %}</a>
                {% else %}
                    <a class="btn btn-danger btn-xs" href="{% url achievement_switch_active a.id %}">{% trans 'No' %}</a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="0">No achievements added.</td></tr>
    {% endfor %}
</table>
</div>
<div class="panel panel-default col-md-3">
    <div class="panel-body">
        <h3>Modifiers</h3>
        <p>In game enabled modifiers:<br/>
        {% for m in modifiers %}<em>{{ m }}</em><br/>{% endfor %}
        </p>
    </div>
</div>
{% endblock %}

{% endblock %}
