{% extends base_template %}
{% load artifacts %}
{% load user %}
{% load i18n %}

{% block title %}{{ profile }}{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ basepath }}/static/js/tabs.js"></script>
<script type="text/javascript" src="{{ basepath }}/static/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="{{ basepath }}/static/js/profile_setting.js"></script>
<link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/tabs.css" />
{% endblock %}

{% block content %}
<form action="{% url change_password %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
