{% extends 'interface/section_base.html' %}
{% load i18n %}
{% load artifacts %}
{% load user %}

{% block title %}{% trans 'Achievements' %}{% endblock %}
{% block sectiontitle %}{% trans 'Achievements' %}{% endblock %}

{% block sectioncontent %}

        {% for a in artifacts %}
        <p><a href="{% url artifact_hof a.id %}">{% artifact a %} {{ a.title }}</a> - {% autoescape off %}{{ a.description }}{% endautoescape %} ({{ a.used }})</p>
        {% empty %}
        <p>{% trans "You haven't unlocked any achievements yet." %}</p>
        {% endfor %}

{% endblock %}
