{% extends 'interface/section_base.html' %}

{% load i18n %}

{% block title %}
	{{ quiz }}
	<small>[{{ quiz.qtype }} {% trans 'Quiz ' %}]</small>
{% endblock %}

{% block sectioncontent %}

<div id="timer" class="timer">
	time left
</div>

<form action="{% url quiz_view quiz.id %}" method="post" id="quiz-form" class="quiz">
	<ol>
		{% for field in form.visible_fields %}
		<li>
			<div class="question">
				{% autoescape off %}
					{{ field.label }}
				{% endautoescape %}
			</div>
		</li>
		<div class="answers">
			{% for choice in field.field.choices %}
				{% autoescape off %}

				<div class="radio">
					<label>
						<input type="radio" name="{{ field.html_name }}" value="{{ choice.0 }}" id="{{ field.html_name }}_{{ choice.0 }}" />
						{{ choice.1 }}
					</label>
				</div>

				{% endautoescape %}
			{% endfor %}
		</div>
		{% endfor %}
	</ol>
	{% csrf_token %}
	<hr>
	<div class="actions">
		<button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
	</div>
</form>

<script language="javascript">
	window.addEventListener('load', function() {
		StartTimer('timer', 'quiz-form', {{ seconds_left }});
	});
</script>

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ basepath }}/static/js/timer.js"></script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}
