#header {
	color: #FFF;
}

.navbar a {
	color: #FFF;
}

.navbar-brand {
	color: #fff;
}

.navbar-learningpark {
	padding: 10px 0;
	background-color: #1caff6;
}

.navbar-learningpark .navbar-nav>li>a {
	color: #fff;
	border-radius: 24px;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-learningpark .navbar-nav>li>a.active,
.navbar-learningpark .navbar-nav>li>a:active,
.navbar-learningpark .navbar-nav>li>a:focus,
.navbar-learningpark .navbar-nav>li>a:hover {
	background-color: #1493d1;
}

.icon-bar {
	background: rgba(0, 0, 0, 0.6);
}

.sidebar-nav-fixed {
	width:20%;
}

.nav-tabs {
	border: none;
}

.nav-tabs>li>a {
	color: #555;
	border: none;
	border-bottom: 1px solid transparent;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
	border: none;
	background-color: #fff;
	border-bottom: 1px solid #555;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #1caff6;
	cursor: default;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #1caff6;
}

#header .btn {
	background-color: #5FC6F5;
}

#header .btn:hover {
	color: #FFF;
	background-color: #ED8758;
}


