/* Copied from bootstrap. */

.player-info {
    width: 275px;
}

#progress .well {
	border: none;

	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
}

#progress .xp-icon {
	width: 32px;
	height: 20px;
	margin: 0 0 0 0;
	color: #FFF;
	line-height: 20px;
	text-align: center;
	font-weight: bold;

	position: absolute;
	left: 8px;
}

#progress .xp-value {
	color: #1CAFF6;
	display: block;
	float: left;
}

#progress .achivement {
	display: none;
}

#progress .activity-achivement {
	vertical-align: middle;
	display: inline-block;
	color: #FFA200;
}

#progress .progress {
	width: 100%;
	margin: 20px 0 0 0;
	padding: 0;
	position: relative;
}

#progress .xp-label {
	width: 100%;
	margin: 0 0 0 0;
	color: #FFF;
	line-height: 20px;
	text-align: center;
	font-weight: bold;

	position: absolute;
	left: 8px;
}

#progress .progress .level {
	width: 32px;
	background: rgba(200, 200, 200, 0.7);
	color: #FFF;
	text-align: center;
	position: absolute;
	font-weight: bold;
	z-index: 0
}

#progress .progress .current-level {
	left: 0;
}

#progress .progress .next-level {
	right: 0;
}
