body {
	margin: 50px 0 0 0;
	padding: 0;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(../img/geometry2.png) repeat top fixed;
	font-family: 'Open Sans', 'Arial', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

#container {
	width: 100%;
	height: 450px;
	max-width: 650px;
	min-width: 300px;
	margin: 0 auto;
}

#logo {
	height: 220px;
	background: url('../img/csapcslogo512.png') no-repeat left;
	background-size: contain;
	position: relative;
}

#logo:after {
	content: " ";
	width: 200px;
	height: 200px;
	margin: 10px;
	background: url('../img/upb-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	z-index: -1;
}


.title {
	padding: 20px;
	text-align: center;
	color: #666E73;
}

.login-box {
	background: #1493D1;
	background: rgba(255, 255, 255, 0.4);
}

.login-box .about {
	max-width: 80%;
	padding: 20px;
	margin: 0 auto;
	color: #666E73;
}

#login {
	max-width: 284px;
	margin: 0 auto;
	background: #FFF;
	padding: 20px 20px;
	border: 5px solid #6FCBF5;
}

#login .form-group {
	margin: 5px 0;
}

#login label {
	width: 100%;
	font-weight: normal;
	text-transform: capitalize;
	color: #0C86BF;
}

#login input {
	border-radius: 5px;
}

#login .submit {
	margin: 20px 0 0 0;
}

#login .submit button {
	width: 100%;
}

#login .help {
	font-size: 12px;
	margin: 40px 0 0 0;
	text-align: center;
}

#login .error {
	color: #F25345;
	margin: 10px 0;
	text-align: center;
}
