{% extends 'site_base.html' %}
{% load user %}
{% load artifacts %}
{% load i18n %}

{% block content %}
    {% if is_homepage %}
    {% endif %}

    {% comment "Do not use wall activities" %}
	    <div id="wall-container">
	        <h2>{% trans 'Activities' %}</h2>
	        <div id="wall">
	            {% include 'activity/stream.html' %}
	        </div>
	        <div id="wall-navigation">
		        {% if activity.has_previous %}
		            <a href="{% url homepage %}"> &raquo; </a>
		        {% endif %}

		        {% if activity.has_next %}
		            <a href="{% url homepage page=activity.next_page_number %}"> &laquo;</a>
		        {% endif %}
	        </div>
	    </div>
    {% endcomment %}

    <div style="font-size: 150%; text-align: center; display: block; margin-left: auto; margin-right: auto">
        <p>
        Bine ai venit pe platforma LearningPark! Abia așteptăm să înveți noi lucruri din matematică, fizică și chimie.
        </p>
        <br>
        <p>
        Pentru început te rugăm să parcurgi testele de evaluare inițială accesând link-ul indicat de imaginea de mai jos, sau butonul "Teste" din meniul de sus al paginii. Alege testele din disciplinile pe care dorești să le urmezi la examenul de bacalaureat.
        </p>
        <p>
        Din momentul în care vei accesa un test, timpul va începe să se scurgă. Recomandăm, așadar, să accesezi testele atunci când vei avea disponibilitatea și mediul propice rezolvării acestora. Mult succes!
        </p>
        <br>
        <p>
        <a href="{% url quiz_index_view %}"><img class="course-img" src="{{ basepath }}/static/img/check.png"></a>
        </p>
        <p>
        <a href="{% url quiz_index_view %}">Teste de evaluare inițială</a>
        </a>
        </p>
    </div>

    {% comment "Do not use list of tests for now" %}
	<div class="row">
		{% for c in categories %}
			<section class="course col-md-6">
				<div class="course-container">
					<a href="{% url quiz_category_view c.id %}">
						<img class="course-img" src="{{ basepath }}/static/img/math.jpg">
						<h4 class="title">{{ c }}</h4>
					</a>
				</div>
			</section>
		{% empty %}
			{% trans 'No categories have been added yet' %}
		{% endfor %}
	</div>
   {% endcomment %}


{% endblock %}
