{% extends 'site_base.html' %}
{% load user %}
{% load artifacts %}
{% load i18n %}

{% block content %}
    {% if is_homepage %}
    {% endif %}

    {% comment "Do not use wall activities" %}
	    <div id="wall-container">
	        <h2>{% trans 'Activities' %}</h2>
	        <div id="wall">
	            {% include 'activity/stream.html' %}
	        </div>
	        <div id="wall-navigation">
		        {% if activity.has_previous %}
		            <a href="{% url homepage %}"> &raquo; </a>
		        {% endif %}

		        {% if activity.has_next %}
		            <a href="{% url homepage page=activity.next_page_number %}"> &laquo;</a>
		        {% endif %}
	        </div>
	    </div>
    {% endcomment %}

    <div style="font-size: 150%; text-align: center; display: block; margin-left: auto; margin-right: auto">
        <br>
        <br>
        <p>
        Bine ai venit pe platforma LearningPark! Abia așteptăm să înveți noi lucruri din matematică, fizică și chimie.
        </p>
        <br>
        <p>
        Luni, 18 mai 2015, de la ora 18:00, au fost activate un nou set de teste, cele finale. Marți, 26 mai 2015, la ora 18:00, vor fi dezactivate testele de până acum (inițiale). Timpul de redare a unui test este de 3 zile. După 3 zile de la rularea unui test, îl poți rula din nou.
        </p>
        <p>
        Din momentul în care vei accesa un test, timpul va începe să se scurgă. Recomandăm, așadar, să accesezi testele atunci când vei avea disponibilitatea și mediul propice rezolvării acestora. Mult succes!
        </p>
        <br>
        <br>
        <p>
        La capitolul lecții video, platforma cuprinde actualmente 141 de lecții video pe care le vei putea parcurge. Sperăm să îți fie cât mai utile!
        </p>
    </div>

    {% comment "Do not use list of tests for now" %}
	<div class="row">
		{% for c in categories %}
			<section class="course col-md-6">
				<div class="course-container">
					<a href="{% url quiz_category_view c.id %}">
						<img class="course-img" src="{{ basepath }}/static/img/math.jpg">
						<h4 class="title">{{ c }}</h4>
					</a>
				</div>
			</section>
		{% empty %}
			{% trans 'No categories have been added yet' %}
		{% endfor %}
	</div>
   {% endcomment %}


{% endblock %}
