{% extends 'interface/section_base.html'%}

{% load i18n %}

{% block title %}{% trans 'Lessons' %}{% endblock %}
{% block sectiontitle %}{% trans 'Lessons' %}{% endblock %}

{% block sectioncontent %}

{% if categories %}
    {% for c in categories %}
        <h3>{{ c }}</h3>
        {% for t in c.tags.all %}
        <strong>{{ t }}</strong>
            <ol>
                {% for l in t.active_lessons %}
                <li><a href="{% url lesson_view l.id %}">{{ l }}</a></li>
                {% endfor %}
            </ol>
        {% endfor %}
    {% endfor %}
{% else %}
    {% trans 'No lessons have been added.' %}
{% endif %}

{% endblock %}
