{% extends 'interface/section_base.html'%}

{% load i18n %}

{% block title %}{% trans 'Files' %}{% endblock %}
{% block sectiontitle %}{% trans 'Files' %}{% endblock %}

{% block sectioncontent %}
<div id="files">
{% if categories %}
	{% for c in categories %}
		{% if c.files %}
		<section class="files">
			<h4>{{ c }}</h4>
			<table class="table table-striped table-hover">
				<tr>
					<th>{% trans 'Format' %}</th>
					<th>{% trans 'Name' %}</th>
					<th>{% trans 'Size' %}</th>
				</tr>
				{% for f in c.files %}
				<tr>
					<td>{{ f.type }}</td>
					<td><a href="{{ f.file.url }}">{{ f }}</a></td>
					<td>{{ f.file.size|filesizeformat }}</td>
				</tr>
				{% endfor %}
			</table>
		</section>
		{% endif %}
	{% endfor %}
{% else %}
	{% trans 'No files have been added.' %}
{% endif %}
</div>
{% endblock %}
