{% extends 'interface/section_base.html'%}

{% load user %}
{% load i18n %}

{% block sectiontitle %}
	{% trans 'Create message' %}
{% endblock %}

{% block sectioncontent %}

	<div id="compose-message" class="row">
		<div class="col-md-1"></div>

		<div class="col-md-9">
			<form id="msg" class="form-horizontal" onsubmit="messagingSubmit();" method="post" action="/m/create" data-ajax="false">

				<div class="form-group">
					<label for="to_input" class="col-md-2 control-label">{% trans 'To' %}</label>
					<div class="col-md-10">
						<input type="text" name="receiver" class="form-control" id="to_input" placeholder="{% trans 'User' %}" autocomplete="off">
						<div id="to_container"></div>
					</div>
				</div>

				<div class="form-group">
					<label for="subject" class="col-md-2 control-label">{% trans 'Subject' %}</label>
					<div class="col-md-10">
						<input type="text" id="subject" name="subject" class="form-control" placeholder="{% trans 'Subject' %}">
					</div>
				</div>

				<div class="form-group">
					<label for="text" class="col-md-2 control-label">{% trans 'Text' %}</label>
					<div class="col-md-10">
						<textarea id="text" name="text" class="form-control" rows="3"></textarea>
					</div>
				</div>

				<div class="actions">
					<a href="{% url messaging %}">
						<button type="button" class="btn btn-danger">{% trans 'Cancel' %}</button>
					</a>
					<button class="btn btn-success default" type="submit">{% trans 'Send' %}</a>
				</div>

				<input name="reply_to" value="" type="hidden">

				{% csrf_token %}

			</form>
		</div>
		<div class="col-md-2"></div>
	</div>

	<!-- TODO: @Gabriel Ivanica  -->
	<!-- TODO: replace with jquery.autocomplete -->

	<script type="text/javascript">
		window.addEventListener('load', function() {

				var options = {
					minChars: 3,
					matchSubset: 1,
					matchContains: 1,
					cacheLength: 10,
					formatItem: formatItem,
					onItemSelect: selectItemMessaging,
					selectOnly:1
				};

				$("#to_input").autocomplete("{{ basepath }}/instantsearch/", options);
				$("#to_input").bind('focusout', messagingOut);

		});
	</script>

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ basepath }}/static/js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ basepath }}/static/js/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="{{ basepath }}/static/js/format.item.js"></script>
{% endblock %}
